--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

black
coverage
country-converter
geopandas
matplotlib
numpy
pandas
pip-tools
plotly
pre-commit
pytest
requests
requests-cache
ruff
schemdraw
seaborn
unidecode
vcrpy
