interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ror.org/organizations?affiliation=Department+of+Cardiology%2C+Charit%C3%A9+-+Universit%C3%A4tsmedizin+Berlin%2C+Campus+Benjamin+Franklin
  response:
    body:
      string: "{\"number_of_results\":26,\"items\":[{\"substring\":\"Charit\xE9 Universit\xE4tsmedizin
        Berlin\",\"score\":1.0,\"matching_type\":\"PHRASE\",\"chosen\":false,\"organization\":{\"id\":\"https://ror.org/001w7jn25\",\"name\":\"Charit\xE9
        - Universit\xE4tsmedizin Berlin\",\"email_address\":null,\"ip_addresses\":[],\"established\":1710,\"types\":[\"Healthcare\"],\"relationships\":[{\"label\":\"Carl-Thiem-Klinikum
        Cottbus\",\"type\":\"Related\",\"id\":\"https://ror.org/044fhy270\"},{\"label\":\"Freie
        Universit\xE4t Berlin\",\"type\":\"Related\",\"id\":\"https://ror.org/046ak2485\"},{\"label\":\"Humboldt-Universit\xE4t
        zu Berlin\",\"type\":\"Related\",\"id\":\"https://ror.org/01hcx6992\"},{\"label\":\"Waldkrankenhaus
        Protestant Hospital\",\"type\":\"Related\",\"id\":\"https://ror.org/03afbx254\"},{\"label\":\"Berlin
        Institute of Health at Charit\xE9 - Universit\xE4tsmedizin Berlin\",\"type\":\"Child\",\"id\":\"https://ror.org/0493xsw21\"},{\"label\":\"Centre
        Virchow-Villerm\xE9\",\"type\":\"Child\",\"id\":\"https://ror.org/03vkhr254\"},{\"label\":\"Einstein
        Center Digital Future\",\"type\":\"Child\",\"id\":\"https://ror.org/0086bb350\"},{\"label\":\"Wyss
        Institute for Biologically Inspired Engineering\",\"type\":\"Related\",\"id\":\"https://ror.org/008cfmj78\"}],\"addresses\":[{\"lat\":52.52437,\"lng\":13.41053,\"state\":null,\"state_code\":null,\"city\":\"Berlin\",\"geonames_city\":{\"id\":2950159,\"city\":\"Berlin\",\"geonames_admin1\":{\"name\":\"Berlin\",\"id\":2950157,\"ascii_name\":\"Berlin\",\"code\":\"DE.16\"},\"geonames_admin2\":{\"name\":null,\"id\":null,\"ascii_name\":null,\"code\":\"DE.16.00\"},\"license\":{\"attribution\":\"Data
        from geonames.org under a CC-BY 3.0 license\",\"license\":\"http://creativecommons.org/licenses/by/3.0/\"},\"nuts_level1\":{\"name\":null,\"code\":null},\"nuts_level2\":{\"name\":null,\"code\":null},\"nuts_level3\":{\"name\":null,\"code\":null}},\"postcode\":null,\"primary\":false,\"line\":null,\"country_geonames_id\":2921044}],\"links\":[\"https://www.charite.de/en/\"],\"aliases\":[\"Charit\xE9\"],\"acronyms\":[],\"status\":\"active\",\"wikipedia_url\":\"http://en.wikipedia.org/wiki/Charit%C3%A9\",\"labels\":[],\"country\":{\"country_name\":\"Germany\",\"country_code\":\"DE\"},\"external_ids\":{\"ISNI\":{\"preferred\":null,\"all\":[\"0000
        0001 2218 4662\"]},\"FundRef\":{\"preferred\":null,\"all\":[\"501100002839\"]},\"OrgRef\":{\"preferred\":null,\"all\":[\"2559577\"]},\"Wikidata\":{\"preferred\":null,\"all\":[\"Q162684\"]},\"GRID\":{\"preferred\":\"grid.6363.0\",\"all\":\"grid.6363.0\"}}}},{\"substring\":\"Charit\xE9
        Universit\xE4tsmedizin Berlin\",\"score\":0.73,\"matching_type\":\"COMMON
        TERMS\",\"chosen\":false,\"organization\":{\"id\":\"https://ror.org/021ft0n22\",\"name\":\"Universit\xE4tsmedizin
        G\xF6ttingen\",\"email_address\":\"\",\"ip_addresses\":[],\"established\":1732,\"types\":[\"Healthcare\"],\"relationships\":[{\"label\":\"Klinikum
        Bremen-Mitte\",\"type\":\"Related\",\"id\":\"h[...]
