interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ror.org/organizations?affiliation=4580004+-+Queen+Elizabeth+Hospital+II
  response:
    body:
      string: "{\"number_of_results\":11,\"items\":[{\"substring\":\"04 Queen Elizabeth
        Hospital II\",\"score\":0.95,\"matching_type\":\"COMMON TERMS\",\"chosen\":true,\"organization\":{\"id\":\"https://ror.org/03s32c292\",\"name\":\"Queen
        Elizabeth II Hospital\",\"email_address\":null,\"ip_addresses\":[],\"established\":2014,\"types\":[\"Healthcare\"],\"relationships\":[{\"label\":\"University
        of Hertfordshire\",\"type\":\"Related\",\"id\":\"https://ror.org/0267vjk41\"},{\"label\":\"East
        and North Hertfordshire NHS Trust\",\"type\":\"Parent\",\"id\":\"https://ror.org/02ryc4y44\"}],\"addresses\":[{\"lat\":51.783487,\"lng\":-0.188615,\"state\":null,\"state_code\":null,\"city\":\"Welwyn
        Garden City\",\"geonames_city\":{\"id\":2634552,\"city\":\"Welwyn Garden City\",\"geonames_admin1\":{\"name\":\"England\",\"id\":6269131,\"ascii_name\":\"England\",\"code\":\"GB.ENG\"},\"geonames_admin2\":{\"name\":\"Hertfordshire\",\"id\":2647043,\"ascii_name\":\"Hertfordshire\",\"code\":\"GB.ENG.F8\"},\"license\":{\"attribution\":\"Data
        from geonames.org under a CC-BY 3.0 license\",\"license\":\"http://creativecommons.org/licenses/by/3.0/\"},\"nuts_level1\":{\"name\":\"EAST
        OF ENGLAND\",\"code\":\"UKH\"},\"nuts_level2\":{\"name\":\"Bedfordshire and
        Hertfordshire\",\"code\":\"UKH2\"},\"nuts_level3\":{\"name\":\"Hertfordshire\",\"code\":\"UKH23\"}},\"postcode\":null,\"primary\":false,\"line\":null,\"country_geonames_id\":2635167}],\"links\":[\"http://www.newqeii.info/\"],\"aliases\":[],\"acronyms\":[\"QEII\"],\"status\":\"active\",\"wikipedia_url\":\"https://en.wikipedia.org/wiki/Queen_Elizabeth_II_Hospital\",\"labels\":[],\"country\":{\"country_name\":\"United
        Kingdom\",\"country_code\":\"GB\"},\"external_ids\":{\"ISNI\":{\"preferred\":null,\"all\":[\"0000
        0004 0400 1617\"]},\"OrgRef\":{\"preferred\":null,\"all\":[\"12910470\"]},\"Wikidata\":{\"preferred\":null,\"all\":[\"Q7270362\"]},\"GRID\":{\"preferred\":\"grid.415563.0\",\"all\":\"grid.415563.0\"}}}},{\"substring\":\"04
        Queen Elizabeth Hospital II\",\"score\":0.89,\"matching_type\":\"COMMON TERMS\",\"chosen\":false,\"organization\":{\"id\":\"https://ror.org/00p6q5476\",\"name\":\"Queen
        Elizabeth Hospital\",\"email_address\":null,\"ip_addresses\":[],\"established\":2001,\"types\":[\"Healthcare\"],\"relationships\":[{\"label\":\"Lewisham
        and Greenwich NHS Trust\",\"type\":\"Parent\",\"id\":\"https://ror.org/[...]
