interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ror.org/organizations?affiliation=CHU+Dijon+Bourgogne
  response:
    body:
      string: "{\"number_of_results\":13,\"items\":[{\"substring\":\"CHU\",\"score\":0.9,\"matching_type\":\"ACRONYM\",\"chosen\":false,\"organization\":{\"id\":\"https://ror.org/0064m4x84\",\"name\":\"Colorado
        Heights University\",\"email_address\":null,\"ip_addresses\":[],\"established\":1989,\"types\":[\"Education\"],\"relationships\":[],\"addresses\":[{\"lat\":39.661528,\"lng\":-105.027679,\"state\":\"Colorado\",\"state_code\":\"US-CO\",\"city\":\"Denver\",\"geonames_city\":{\"id\":5419384,\"city\":\"Denver\",\"geonames_admin1\":{\"name\":\"Colorado\",\"id\":5417618,\"ascii_name\":\"Colorado\",\"code\":\"US.CO\"},\"geonames_admin2\":{\"name\":\"Denver
        County\",\"id\":5419396,\"ascii_name\":\"Denver County\",\"code\":\"US.CO.031\"},\"license\":{\"attribution\":\"Data
        from geonames.org under a CC-BY 3.0 license\",\"license\":\"http://creativecommons.org/licenses/by/3.0/\"},\"nuts_level1\":{\"name\":null,\"code\":null},\"nuts_level2\":{\"name\":null,\"code\":null},\"nuts_level3\":{\"name\":null,\"code\":null}},\"postcode\":null,\"primary\":false,\"line\":null,\"country_geonames_id\":6252001}],\"links\":[\"http://chu.edu/\"],\"aliases\":[\"Loretto
        Heights College\",\"Teikyo Loretto Heights University\"],\"acronyms\":[\"CHU\"],\"status\":\"active\",\"wikipedia_url\":\"https://en.wikipedia.org/wiki/Colorado_Heights_University\",\"labels\":[],\"country\":{\"country_name\":\"United
        States\",\"country_code\":\"US\"},\"external_ids\":{\"ISNI\":{\"preferred\":null,\"all\":[\"0000
        0000 8739 1470\"]},\"OrgRef\":{\"preferred\":null,\"all\":[\"6214672\"]},\"Wikidata\":{\"preferred\":null,\"all\":[\"Q5148817\"]},\"GRID\":{\"preferred\":\"grid.446956.c\",\"all\":\"grid.446956.c\"}}}},{\"substring\":\"CHU\",\"score\":0.9,\"matching_type\":\"ACRONYM\",\"chosen\":false,\"organization\":{\"id\":\"https://ror.org/011adb956\",\"name\":\"Centre
        Hospito Universitaire de S\xE9tif\",\"email_address\":null,\"ip_addresses\":[],\"established\":2012,\"types\":[\"Healthcare\"],\"relationships\":[],\"addresses\":[{\"lat\":36.200471,\"lng\":5.413688,\"state\":null,\"state_code\":null,\"city\":\"S\xE9tif\",\"geonames_city\[...]
